h2 {
    color: blue;
}

h3 {
    color: green;
    font-style: italic;
}

ul li {
    list-style: none;
}

.offer {
    color: red;
}

.altoPrecio {
    color: red;
    font-style: italic;
    text-transform: uppercase;
}